# Build and Release Folders
vendor/
tests/
db/

# Other files and folders
.settings/
.vscode/
.claude/
.cursor/
.gitee/
.qoder/

# Executables
*.conf
*.BAK
*.swf
*.air
*.ipa
*.apk
*.txt
*.log
*.xml
.env
.env.*
!.env.example
.cursorrules
.claudeignore
CLAUDE.md

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
