# Build and Release Folders
vendor/
tests/

# Other files and folders
.settings/
.vscode/

# Executables
*.bak
*.swf
*.air
*.ipa
*.apk
.env
.cursorrules
.claudeignore

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
